<% if @user.first_name != nil || @user.last_name != nil %>
<h1>Hi <%= @user.first_name + @user.last_name %>,</h1>
<% else %>
<h1>Hey you!</h1>
<% end %>
<p>
  We wish you a very warm welcome to Marins d'eau douce!
</p>
<p>
  Marins d'eau douce is a community passionate about getting drunk in dodgy indurstrial harbours.
</p>
<p>
  Join the fun!
</p>
<p>
  Alexandra, Marine and Nathalie.
</p>
