<h1> Your reservation for <%= @boat.name %> </h1>

<!--   <form action='/bookings' class="form-inline">
    <input name="start_date" type="date" class="form-control input-lg" placeholder="checkin">
    <input name="end_date" type="date" class="form-control input-lg" placeholder="checkout">
    <input type="submit" class="btn btn-primary btn-lg" value="Book">
  </form> -->

<%= render 'form_booking' %>


<%= link_to "List my boats", boats_path(@boat) %>
