<div class="row text-center">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-12">
    <form action="/boats/index_all" class="form-inline">
        <input name="start_date" type="date" class="form-control opacity over input-lg" placeholder="checkin">
        <input name="end_date" type="date" class="form-control opacity over input-lg" placeholder="checkout">
        <input name="location" type="text" class="form-control opacity over input-lg" placeholder="location">
        <input name="capacity" type="integer" class="form-control opacity over input-lg" placeholder="capacity">
        <input type="submit" class="btn opacity btn-primary btn-lg btn-block" value="Search">
    </form>
  </div>
</div>
