<h1>My Boats</h1>

<ul>
  <% @boats.each do |boat| %>
    <li> <%= link_to boat.name, boat_path(boat)%> </li>
      <ul>
        <li> Location: <%= boat.location %> </li>
        <li> Capacity: <%= boat.capacity %> persons</li>
      </ul>
  <% end %>
</ul>
<br>
<%= link_to "Add a boat", new_boat_path, class:"btn btn-primary" %>


